{
  "overrides": [
    {
      "files": [ "*.yaml", "*.yml" ],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": [ "*.js", "*.json", ".prettierrc" ],
      "options": {
        "semi": true,
        "tabWidth": 4,
        "singleQuote": true
      }
    }
  ]
}
